<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="host" value="ec2-176-34-127-73.eu-west-1.compute.amazonaws.com" />
    <add key="database" value="d1fgiirb1el0rc" />
    <add key="user" value="ymqbatauoctytg" />
    <add key="password" value="v299KpI4gtMKX-aV6r1MQNIMTX" />
    <!--<add key="host" value="localhost" />
    <add key="database" value="test" />
    <add key="user" value="test_user" />
    <add key="password" value="qwerty" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>